#provider_google_form, #wrap_provider_google,
#provider_facebook_form, #wrap_provider_facebook,
#provider_github_form, #wrap_provider_github,
#provider_linkedin_form, #wrap_provider_linkedin {
    display: inline-block;
}

#wrap_provider_google,
#wrap_provider_facebook,
#wrap_provider_github,
#wrap_provider_linkedin {
    display: block;
}

#wrap_provider_google .InputfieldContent ,
#wrap_provider_facebook .InputfieldContent ,
#wrap_provider_github .InputfieldContent,
#wrap_provider_linkedin .InputfieldContent {
    display: block;
    background-position: right 10px bottom 10px;
    background-repeat: no-repeat;
    background-size: 38px;
}

#wrap_provider_google .InputfieldContent {
    background-image: url('./assets/002-google-plus.png');
}
#wrap_provider_facebook .InputfieldContent {
    background-image: url('./assets/003-facebook.png');
}
#wrap_provider_github .InputfieldContent {
    background-image: url('./assets/004-github.png');
}
#wrap_provider_linkedin .InputfieldContent {
    background-image: url('./assets/001-linkedin.png');
}

#wrap_provider_google .ui-button,
#wrap_provider_facebook .ui-button,
#wrap_provider_github .ui-button,
#wrap_provider_linkedin .ui-button
{
    color: #8D8989;
    background: #FFF;
    border: 1px solid #d7e2e6;
    font-weight: bold;
    padding: 0.6em 1.1em;
    font-size: 1em !important;
    border-radius: 0px;
    padding-left: 40px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    background-size: 24px;
}

#wrap_provider_google .ui-button {
    background-image: url('./assets/002-google-plus.png');
}
#wrap_provider_facebook .ui-button {
    background-image: url('./assets/003-facebook.png');
}
#wrap_provider_github .ui-button {
    background-image: url('./assets/004-github.png');
}
#wrap_provider_linkedin .ui-button {
    background-image: url('./assets/001-linkedin.png');
}

#wrap_provider_google:hover .ui-button,
#wrap_provider_facebook:hover .ui-button,
#wrap_provider_github:hover .ui-button,
#wrap_provider_linkedin:hover .ui-button {
    background-color: #f9f9f9;
    color: #4a4a4a;
}

#wrap_provider_google:hover .ui-button {
    background-image: url('./assets/002-google-plus.png');
}
#wrap_provider_facebook:hover .ui-button {
    background-image: url('./assets/003-facebook.png');
}
#wrap_provider_github:hover .ui-button {
    background-image: url('./assets/004-github.png');
}
#wrap_provider_linkedin:hover .ui-button {
    background-image: url('./assets/001-linkedin.png');
}